<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Mongo Scraper</title>
</head>
<body>
      <div id="main header" class="w3-container w3-white">

        <strong>
            <h2>Mongo Scraper</h2>
        </strong>
        <div class="w3-container">

            <a href="/">Home</a>
            <a href="/savedarticles">Saved Articles</a>

            <button id="saved" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Saved Articles</button>
            
            <button id="clear" onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black w3-large">Clear Articles</button>

        </div>
      </div>

        <div id="pandapic" style="background-image: url=("/img/Panda.jpg")></div>

        {{{body}}}

     <footer id="footer" class="w3-container w3-white" style="position: fixed;
    left: 0 ; right: 0; bottom: 0;"><p id="footerwords">Let's Go Mongo!</p></footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>    
<script src="app.js"></script>
</body>
</html>